.game {
  width: 100%;
  max-width: 300px;
  margin-top: 5rem;
  margin-left: 6rem;
}

.choices {
  display: grid;

}
.backgroud_img{
  position: absolute;
    z-index: -9;
    margin: 5%;
}
.rules{
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
}
