.result {
  display: grid;
  grid-template-columns: 230px 210px 200px;
  font-size: 1.2em;
  margin-top: 20px;
}

.choice-button-result.rock {
  border: 16px solid #de3a5a;
  border-radius: 50%;
  padding: 10px;
}

.choice-button-result.paper {
  border: 16px solid #5671f5;
  border-radius: 50%;
  padding: 10px;
}

.choice-button-result.scissors {
  border: 16px solid #eca922;
  border-radius: 50%;
  padding: 10px;
}
